<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Japan Impact</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <link rel="stylesheet" href="styles.css">
</head>
<body>

  <header>

    <div class="poster">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Japan Impact</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Presentation
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Japan Impact</a>
                <a class="dropdown-item" href="#">PolyJapan (+ committee)</a>
                <a class="dropdown-item" href="#">Previous editions</a>
                <a class="dropdown-item" href="#">Pictures</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Practical Information
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Access (+reduced mobility)</a>
                <a class="dropdown-item" href="#">Booklet (+ map of the convention)</a>
                <a class="dropdown-item" href="#">Prices and ticket office</a>
                <a class="dropdown-item" href="#">Catering</a>
                <a class="dropdown-item" href="#">Security</a>
                <a class="dropdown-item" href="#">Become Staff (ex-volunteer)</a>
                <a class="dropdown-item" href="#">FAQ ?</a>
                <a class="dropdown-item" href="#">Contact Us (+press and media)</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Program
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">toutes les categories</a>
                <a class="dropdown-item" href="#">si on peut pas faire un programme</a>
                <a class="dropdown-item" href="#">à la main</a>
                <a class="dropdown-item" href="#">en utilisant les articles</a>
                <a class="dropdown-item" href="#">wordpress</a>
              </div>
            </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Partners</a>
              </li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="logo">

      <img src="https://japan-impact.ch/wp-content/uploads/2018/09/jilogo_nohead-small.png" alt="logo"/>
    </div>

  </header>


  <section>

    <div id="date" class="">

      <div class="bandeau">
        16 et 17 Février 2019
      </div>

      <div id="countdown">
        <div>
          <span class="nb">123</span>
          <span class="word">days</span>
        </div>
        <div>
          <span class="nb">123</span>
          <span class="word">hours</span>
        </div>
        <div>
          <span class="nb">123</span>
          <span class="word">minutes</span>
        </div>
        <div>
          <span class="nb">123</span>
          <span class="word">seconds</span>
        </div>
      </div>
    </div>

<article class="">

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </article>
  </section>

  <br>
  <br>

  <footer>

    <div id="sns" class="">
      <div class="">
        y
      </div>
      <div class="">
        t
      </div>
      <div class="">
        i
      </div>
      <div class="">
        m
      </div>
    </div>

    <div class="logos">
      <img width="10%" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f4/Logo_EPFL.svg/400px-Logo_EPFL.svg.png" alt=""/>
      <img width="10%" src="https://agepoly.ch/static/media/uploads/.thumbnails/logo_agepoly_-_horizontal.png/logo_agepoly_-_horizontal-369x91.png" alt=""/>
    </div>
<!--
    <div id="importantLinks">
      <ul>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
        <li><a href="#">lorem</a></li>
      </ul>
    </div> -->

    <div id="address">
      avenue truc<br/>
        EPFL<br/>
      Suisse<br/>
        blabla<br/>
    </div>

  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
