$secondaryColor: #555555;
$primaryColor: red;
$fontSecondColor: white;

* {
  margin:0;
  padding:0;
  font-size: 15px;
  font-family: arial;
}

a, a:hover {
  text-decoration: none;
}

h1 {
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: bold;
}

h2 {
  font-size: 2em;
}

// nav.navbar {
//   position:fixed;
//   width:100%;
// }

header {

  nav.navbar {

    position:fixed;
    width:100%;
    background:white;

    button {
      margin:10px;
    }

    div#bs-example-navbar-collapse-1 {
      padding:10px;
    }

  }
  //
  // nav .menu-main-container, nav .menu-main-eng-container {
  //
  //   width:100%;
  //
  //   ul {
  //     display: flex;
  //   }
  //
  //   ul li {
  //     width:100%;
  //     list-style-type: none;
  //     margin:0 5px;
  //     box-sizing: border-box;
  //     position:relative;
  //
  //     a {
  //       display:block;
  //       padding:5px 10px;
  //       color:black;
  //       background:lightgrey;
  //     }
  //
  //     &:hover .sub-menu {
  //       display:block;
  //     }
  //
  //     .sub-menu {
  //       display:none;
  //       position: absolute;
  //
  //       width:100%;
  //
  //       li {
  //         margin:0;
  //       }
  //     }
  //   }
  //
  //
  // }

  div.poster div#ji_header{
    height:550px;
    width:100%;
    overflow:hidden;

    img {
      width:100%;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }

  div#logo {
    margin-top:-50px;
    text-align: center;

    img {
      margin:auto;
    }
  }
}


section #date {

  text-transform: uppercase;
  margin: 2% auto;
  text-align: center;
  width:50%;
  font-size: 2em;

  .bandeau {
    background:$secondaryColor;
    color:$fontSecondColor;
    width:100%;
    font-size: 1.5em;
    margin-bottom:10px;
  }

  #countdown {

    display:flex;
    justify-content:center;


    div {

      margin:0 0.5%;
      width:100%;

      span.nb {
        background:$primaryColor;
        display: block;
        color:$fontSecondColor;
        text-align: center;
        font-size: 3em;
      }
      span.word {
        color:$primaryColor;
        font-size: 1.4em;
      }
    }
  }
}

section {

  //margin:3% auto;
  //width:60%;
  text-align: justify;

  h1.category-title {
    font-size: 3em;
    text-indent: 5%;
    height:10px;
    font-style: italic;
  }

  .category {
    //border: 10px blue solid;
    margin:5% 0;
    //border-width:15px 0;
    //background:grey;

    div.article {
      border: 10px blue solid;
      border-width: 20px 0;
      padding:5px;
      background:white;
      margin-top:-20px;

      h2.entry-title {

        font-size: 2em;
        text-transform: capitalize;
      }

      img {
        width:100%;
        //float:left;
        padding:10px;
      }

      .dates {
        color:grey;
      }
    }
  }

  article {

    p {
      margin:1% 0;
    }

  }
}

footer#home_footer {
  width:100%;
  height:150px;
  background:$secondaryColor;
  padding:1% 5%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color:$fontSecondColor;

  #sns {
    flex-grow:1;

    div {
      display: inline-block;
      height:50px;
      width:50px;

      a i {
        font-size:30px;
        color:$fontSecondColor;

        &:hover {
          opacity:0.8;
        }
      }

    }
  }

  .logos {
    flex-grow:1;

  }

  #importantLinks {

    flex-grow:1;
    ul {
      list-style: none;
    }

    a {
    }
  }

  #address {
    text-align: right;
  }
}

#plannings {

  margin:40px 20px;

  .table {
    display:none;
  }

  #buttons-planning {
    text-align: center;

    span{
        display:inline-block;
        background:grey;
        width:22%;
        margin:auto;

        &:hover {
          cursor:pointer;
        }

    }
  }
}
